{% extends 'base.html.twig' %}


{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mb-5 mt-5 text-danger">Muse, as we see you stride !</h1>
	</div>

	{% if products|length > 0 %}
		<div id="carouselExampleIndicators" class="carousel slide mb-5 text-center" data-ride="carousel" data-interval="2000">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
			</ol>
			<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="img-thumbnail" style="width: 30rem;" src="/img/BGHome.jpg" alt="...">
						<div class="carousel-caption d-none d-md-block">
							<h1 class="text-danger">MUSE</h1>
							<p>...</p>
						</div>
					</div>
					{% for product in products|slice(5,5) %}
					<div class="carousel-item">
						<a href="{{ path('app_product_show', {'id': product.id}) }}"><img class="img-thumbnail" style="width: 40rem;" src="{{product.image}}" alt="Slide n°{{product.id}}"></a>
						<div class="carousel-caption d-none d-md-block">
							<h1 class="text-primary">{{product.name}}</h1>
							<p>...</p>
						</div>
					</div>
				{% endfor %}
			</div>

			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	{% endif %}
	<div class="row d-flex justify-content-center">
		<img src="/img/Discount.jpeg" class="img-thumbnail mb-5 mb-1 mr-1" style="width: 400px; height: auto;"></div>
	<div class="row d-flex justify-content-center">
		<img src="/img/Discount2.jpeg" class="img-thumbnail mb-5 mb-1 mr-1" style="width: 400px; height: auto;"></div>
	<div class="row d-flex justify-content-center">
		<img src="/img/Discount3.jpeg" class="img-thumbnail mb-5 mb-1 mr-1" style="width: 400px; height: auto;"></div>
	<div class="row d-flex justify-content-center">
		<img src="/img/Discount4.jpeg" class="img-thumbnail mb-5 mb-1 mr-1" style="width: 400px; height: auto;"></div>
</div>{% endblock %}
