{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}
	Dashboard
{% endblock %}
{% block main %}
	{# <div class="text-center mt-0">
			<img src='/img/Muse_rect_trans.png' style="width: 10rem; height:auto; position: relative;">
		</div> #}

	<div class="row">
        <h1 class="text-info text-center mb-3">Statistiques du site</h1>

		{% include '/dashboard/pie_bar_chart1.html.twig' %}

		<div class="row d-flex justify-content-center">
			<table class="columns">
				<tr>
					<td>
						<div id="piechart_div" style=""></div>
					</td>
					<td>
						<div id="barchart_div" style=""></div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	{# *** Charts.js *** #}

	{# <div class="col-12">
        {{ render_chart(chart) }}
    </div> #}

{% include '/dashboard/global_figures.html.twig' %}

{# Chiffre d'affaires mois par mois pour une année sélectionnée
Chiffre d'affaires généré pour un fournisseur
TOP 10 des produits les plus commandés pour une année sélectionnée (référence et nom du produit, quantité commandée, fournisseur)
TOP 10 des produits les plus rémunérateurs pour une année sélectionnée (référence et nom du produit, marge, fournisseur)
Top 10 des clients en nombre de commandes ou chiffre d'affaires
Répartition du chiffre d'affaires par type de client
Nombre de commandes en cours de livraison. #}


<table class="table table-dark darker table-striped">

				{% set sumTotal = 0 %}
				{% set sumVal = 0 %}
                {% set sumShip = 0 %}
				{% for cart in carts %}
					{% set sumVal = sumVal + cart.validated %}
                    {% set sumShip = sumShip + cart.shipped %}
                        {% if cart.validated == true %}
                            {% set sumTotal = sumTotal + cart.total %}
                        {% endif %}
                {% endfor %}

        <thead>
            <tr class="text-info">
                <th>Nombre de commandes en cours de livraison</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th> </th>
                <th></th>
                <th></th>
                <th> </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-warning">{{ sumVal - sumShip }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-break"></td>
                <td class="text-break"></td>
                <td class="text-break"></td>
                <td></td>
                <td></td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>

	</div>
	{% block javascripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	{% endblock %}
{% endblock %}
