{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}
	<div class="container">
		{% if categories|length > 0 %}

				<h1 class="col-12 text-info mb-3 mt-3">Catégories :</h1>
				{% set col = 1 %}
				{% for category in categories %}
					{% if (col == 1)%}
						<div class="row">
							{# <ul style="list-style-type: none;" class="list-group"> #}

							{% endif %}
							<div class="col-4">
							<li style="list-style-type: none;" class="mt-1 mb-1 ml-3 mr-3">
								<button class="btn btn-dark border border-secondary text-decoration-none d-flex mt-1 mb-1 position-relative align-items-center">
									<i class="fa-solid fa-guitar text-secondary"></i>
									<h2>
										<a class="text-decoration-none text-light ml-3 mr-3" href="{{ path('app_catalogue', {'category': category.id}) }}">
											{{ category.name }}
										</a>
									</h2>
									<h2 class="badge rounded-pill border border-light bg-secondary text-white ml-1">{{ category.products|length }}</h2>
								</button>
							</li>
							</div>
							{% if (col == 3) %}
							{# </ul> #}
						</div>
						{% set col = 1 %}
					{% else %}
						{% set col = col + 1 %}
					{% endif %}
				{% endfor %}

			</ul>
		</div>

{% else %}
	<h1 class="mt-3 mb-5">Aucune catégorie trouvée!</h1>
{% endif %}</div>{% endblock %}
