<div class="container">
	<div class="row">
		<div class="col">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">

					<li class="breadcrumb-item">
						<a class="text-primary text-decoration-none" href="{{path('app_home')}}">Accueil</a>
					</li>

					<li class="breadcrumb-item">
						<a class="text-primary text-decoration-none" href="{{path('app_category')}}">Catégories</a>
					</li>

					{% if path is defined %}
						{% for category in categories|slice(0,1) %}
							{% for p in path %}
								<li class="breadcrumb-item">
									<a class="text-primary text-decoration-none" href="{{ path('app_catalogue', {'category': category.id}) }}">{{ p }}</a>
								</li>
							{% endfor %}
						{% endfor %}
					{% endif %}

					<li class="breadcrumb-item active" aria-current="page">Page actuelle</li>
				</ol>
			</nav>
		</div>
	</div>
</div>
